
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/GenericConfigGen/v17/.wsuo
.vs/GenericConfigGen/FileContentIndex/read.lock
.vs/GenericConfigGen/FileContentIndex/39c65145-15d2-48a1-9ecc-4f556d7ffacc.vsidx
.vs/GenericConfigGen/config/applicationhost.config
