
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/GenericConfigGen/v17/.wsuo
.vs/GenericConfigGen/FileContentIndex/read.lock
.vs/GenericConfigGen/FileContentIndex/39c65145-15d2-48a1-9ecc-4f556d7ffacc.vsidx
.vs/GenericConfigGen/config/applicationhost.config
.vs/GenericConfigGen/FileContentIndex/85de9f2b-bb18-4c34-bba3-5fb4ba6dc3c9.vsidx
.vs/GenericConfigGen/FileContentIndex/2a9b0deb-b4b1-4da6-be2c-8bcb77feecf5.vsidx
